&nbsp;
<div class="dropdown-functions">
	<span id="tasklist functions" class="icon-pencil dropdown-toggle" data-toggle="dropdown"></span>
    <ul class="dropdown-menu" role="menu">
    <li class="left">
      <a href="#" data-toggle="modal" onclick="ShareTasklistModal(<%= tasklist.id.to_s %>)">Share</a>
    </li>
    <hr>
    <li class="left">
      <a href="#" data-toggle="modal" onclick="EditTasklistModal(<%= tasklist.id.to_s %>)">Edit</a> 
    </li>
    <hr>
    <li class="left">
      <%= link_to tasklist, method: :delete, data: { confirm: 'Are you sure?' } do %>
        Delete
      <% end %>
    </li>
	</ul>
</div>


<!-- Modal -->
<div class="modal fade" id=<%= "EditTasklistModal_"+tasklist.id.to_s %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit TaskList</h4>
      </div>
      <div class="modal-body">
      	<%= form_for tasklist do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true %>
        </div>
        <div class="field">
          <%= f.label :color %>
          <%= color_field(:tasklist, :color) %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Update', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id=<%= "ShareTasklistModal_"+tasklist.id.to_s %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Share TaskList <%= tasklist.name %></h4>
      </div>
      <div class="modal-body">
     	<%= render 'tasklists/share_tasklist', :tasklist => tasklist %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>


