<%= render 'tasks/task_script' %>

<h2>
  <%= @tasklist.name %>
  <%= render 'tasklists/tasklist_functions', :tasklist => @tasklist %>
</h2>

<%= render 'tasks/simple_add', :style => "display:inline" %>

<div id="list_tables">
<% if !@overdue_tasks.empty? %>
<%= render partial: 'tasks/overdue_task_table', locals: { task_header: "Overdue", task_table: @overdue_tasks } %>
<% end %>

<% if !@today_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "Today", task_table: @today_tasks } %>
<% end %>

<% if !@tomorrow_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "Tomorrow", task_table: @tomorrow_tasks } %>
<% end %>

<% if !@this_week_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "This Week", task_table: @this_week_tasks } %>
<% end %>

<% if !@future_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "Future", task_table: @future_tasks } %>
<% end %>

<% if !@no_duedate_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "No DueDate", task_table: @no_duedate_tasks } %>
<% end %>

<% if !@completed_tasks.empty? %>
<%= render partial: 'tasks/completed_task_table', locals: { task_header: "Completed", task_table: @completed_tasks } %>
<% end %>
</div>


