<%= render 'tasks/task_script' %>

<h2>
  <a href="#" data-toggle="modal" data-target="#EditTasklistModal"><%= @tasklist.name %></a> 
  (<a href="#" data-toggle="modal" data-target="#ShareTasklistModal">Share Tasklist</a>)
</h2>
<%= render 'tasklists/tasklist_functions', locals: { :tasklist => @tasklist } %>


<!-- Modal -->
<div class="modal fade" id="ShareTasklistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Share TaskList</h4>
      </div>
      <div class="modal-body">
      	<%= render 'tasklists/share_tasklist' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<%= render 'tasklists/edit_tasklist_modal', locals: { tasklist: @tasklist }  %>

<%= render 'tasks/simple_add', :style => "display:inline" %>

<div id="list_tables">
<% if !@overdue_tasks.empty? %>
<%= render partial: 'tasks/overdue_task_table', locals: { task_header: "Overdue", task_table: @overdue_tasks } %>
<% end %>

<% if !@today_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "Today", task_table: @today_tasks } %>
<% end %>

<% if !@tomorrow_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "Tomorrow", task_table: @tomorrow_tasks } %>
<% end %>

<% if !@this_week_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "This Week", task_table: @this_week_tasks } %>
<% end %>

<% if !@future_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "Future", task_table: @future_tasks } %>
<% end %>

<% if !@no_duedate_tasks.empty? %>
<%= render partial: 'tasks/incomplete_task_table', locals: { task_header: "No DueDate", task_table: @no_duedate_tasks } %>
<% end %>

<% if !@completed_tasks.empty? %>
<%= render partial: 'tasks/completed_task_table', locals: { task_header: "Completed", task_table: @completed_tasks } %>
<% end %>
</div>


