<div class="panel panel-default">
  <div class="panel-heading">
  	<%= task_header %> Tasks <span class="badge"><%= task_table.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% task_table.each do |task| %>
      <tr id="task_<%= task.id %>" class="completed">
      	<td width="5%" onmouseover="highlightTask(this)" onmouseout="unhighlightTask(this)">
      	  <img src="<%= image_path("check.png") %>" height="50px" width="50px" name="task" id="<%= task.id %>" onclick="toggleCheckbox(<%= task.id %>)">
      	</td>
        <td width="90%">
  	  	<div class="tasklist">
  	  	  <% task.tasklists.each do |tl| %>
            <div class="circle" style=<%= "background-color:"+tl.color+";" %>></div>
          <% end %>

		  <span class="item_task_name"><%= link_to task.name, task %></span><br />
   	  	</div>

   	  	  <span id="item_datetime_<%= task.id %>" class="item_datetime">
   	  	  	<% if !task.completed_date.blank? %>
 	  	  	  <%= task.completed_date.localtime.strftime("%a %b %e %I:%M%p") %>
   	  	  	<% end %>
   	  	  	
   	  	  	By: <%= User.find(task.completed_user_id).name %>
   	  	  </span>
        </td>
        <td width="5%">
		  <%= render 'tasks/task_functions', :task => task %>
        </td>
      </tr>
    <% end %>
  </table>  
  
</div>
