<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <div class="well">
      <div id="datepicker" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>

    <div class="well">
      <div id="timepicker" class="input-append">
        <input data-format="hh:mm:ss" type="text"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  $(function() {
    $('#datepicker').datetimepicker({
      pickTime: false
    });
  });

  $(function() {
    $('#timepicker').datetimepicker({
      pickDate: false
    });
  });

</script>
