<div class="row">
  <div class="quick_task_container">
  <%= form_for ([@tasklist, @new_task]) do |f| %>
    <div class="field">
      <%= f.label :name, value: "Task", class: "task" %>
      <%= f.text_field :name, class: "task", :autofocus => true %>
      <div class="form_button">
        <%= f.submit 'Quick Add', class: 'btn btn-default' %>
        <button id="add_details_button" class="btn btn-default" name="new_task" type="button" value="Add Details">Show Details</button>
		<div class="btn-group">
	        <button id="more_function_button" class="btn btn-default dropdown-toggle" name="task_function" type="button" value="More Function" data-toggle="dropdown">
    	    	<span class="caret"></span>
        	</button>
	        <ul class="dropdown-menu" role="menu">
	        	<% if @tasklist %>
	     	    	<li><a href="#" data-toggle="modal" data-target="#ShareTasklistModal">Share Tasklist</a></li>
	        	<% end %>
<!--    	    	<li><a href="#">Mass Delete</a></li>    -->
       		</ul>
       	</div>
      </div>
    </div>

	<div id="add_details_block">
      <div class="field">
        <%= f.label :note, class: "task" %>
        <%= f.text_area :note, class: "task", value: cookies[:note] %><br />
      </div>
      <div class="field">
        <%= f.label :due_date, class: "task" %>
        <%= f.date_field :due_date, class: "task", value: cookies[:due_date] %><br />
      </div>
      <div class="field">
        <%= f.label :due_time, class: "task" %>
        <%= f.time_field :due_time, class: "task", value: cookies[:due_time] %><br />
      </div>
	</div>

  <% end %>
  </div>
</div>
<br />

<!-- Modal -->
<div class="modal fade" id="ShareTasklistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Share TaskList</h4>
      </div>
      <div class="modal-body">
      	...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

