<div class="row">
  <div class="quick_task_container">
  <% if @tasklist.nil? %>
    <%= form_for @new_task do |f| %>
  <% else %>
    <%= form_for ([@tasklist, @new_task]) do |f| %>
  <% end %>
  
  	
    <div class="field">
      <%= f.label :name, value: "Task", class: "task" %>
      <%= f.text_field :name, class: "task", :autofocus => true %>
      <div class="form_button">
        <%= f.submit 'Quick Add', class: 'btn btn-default' %>
        <button id="add_details_button" class="btn btn-default" name="new_task" type="button" value="Add Details">Show Details</button>
		<div class="btn-group">
	        <button id="more_function_button" class="btn btn-default dropdown-toggle" name="task_function" type="button" value="More Function" data-toggle="dropdown">
    	    	<span class="caret"></span>
        	</button>
	        <ul class="dropdown-menu" role="menu">
<!--    	    	<li><a href="#">Mass Delete</a></li>    -->
       		</ul>
       	</div>
      </div>
    </div>

	<div id="add_details_block">
      <div class="field">
        <%= f.label :note, class: "task" %>
        <%= f.text_area :note, class: "task", value: cookies[:note] %><br />
      </div>
      <div class="field">
        <%= f.label :due_date, class: "task" %>
        <%= f.date_field :due_date, class: "task", value: cookies[:due_date] %><br />
      </div>
      <div class="field">
        <%= f.label :due_time, class: "task" %>
        <%= f.time_field :due_time, class: "task", value: cookies[:due_time] %><br />
      </div>
	</div>

  <% end %>
  </div>
</div>
<br />

