<%= render 'simple_add' %>

<%= render "task_table", :task_header => "Gordon", locals: { :tasks_var => @tasks } %>

<%= render "task_table", :task_header => "Overdue", locals: { :tasks_var => @overdue_task } %>

<%= render "task_table", :task_header => "Today", locals: { :tasks_var => @today_tasks } %>

<%= render "task_table", :task_header => "Tomorrow", locals: { :tasks_var => @tomorrow_tasks } %>

<%= render "task_table", :task_header => "This Week", locals: { :tasks_var => @this_week_tasks } %>

<%= render "task_table", :task_header => "Future", locals: { :tasks_var => @future_tasks } %>

<%= render "task_table", :task_header => "No DueDate", locals: { :tasks_var => @no_duedate_tasks } %>


<!--          
<div class="panel panel-default">
  <div class="panel-heading">
  	<%= current_user.name %>'s Tasks <span class="badge"><%= current_user.tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
  
</div> -->
