<%= render 'simpleAdd' %>

<div class="panel panel-default">
  <div class="panel-heading">
  	<%= current_user.name %>'s Tasks <span class="badge"><%= current_user.tasks.count %></span>
  </div>
  <div class="panel-body"></div>
  <ul class="list-group">
	<% @tasks.each do |task| %>
        <li class="list-group-item"><%= task.name %>
        <%= link_to "", edit_task_path(task), class: "glyphicon glyphicon-pencil pull-right" %>
        <%= link_to '<span class="glyphicon glyphicon-remove pull-right"></span>', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
  </ul>
</div>
