<%= render 'simpleAdd' %>
          
<div class="panel panel-default">
  <div class="panel-heading">
  	<%= current_user.name %>'s Tasks <span class="badge"><%= current_user.tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @tasks.each do |task| %>
      <tr>
      	<td><input type="checkbox" value="true"></td>
        <td><%= task.name %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
  
</div>
