<%= render 'simpleAdd' %>

<div class="panel panel-default">
  <div class="panel-heading">
  	<%= current_user.name %>'s Tasks <span class="badge"><%= current_user.courses.count %></span>
  </div>
  <div class="panel-body"></div>
  <ul class="list-group">
	<% @tasks.each do |task| %>
        <li class="list-group-item"><%= task.name %>
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
  </ul>
</div>
