<%= render 'simple_add' %>

<div class="panel panel-default">
  <div class="panel-heading">
  	All Tasks <span class="badge"><%= @tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
  	<%= render 'task', collection: @tasks %>
  </table>  
</div>

<% if !@overdue_tasks.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
  	Overdue Tasks <span class="badge"><%= @overdue_tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @overdue_tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
</div>
<% end %>

<% if !@today_tasks.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
  	Today Tasks <span class="badge"><%= @today_tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @today_tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
</div>
<% end %>

<% if !@tomorrow_tasks.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
  	Tomorrow Tasks <span class="badge"><%= @tomorrow_tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @tomorrow_tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
</div>
<% end %>

<% if !@this_week_tasks.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
  	This Week Tasks <span class="badge"><%= @this_week_tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @this_week_tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
</div>
<% end %>

<% if !@future_tasks.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
  	Future Tasks <span class="badge"><%= @future_tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @future_tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
</div>
<% end %>

<% if !@no_duedate_tasks.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
  	No DueDate Tasks <span class="badge"><%= @no_duedate_tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @no_duedate_tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
</div>
<% end %>

<% if !@completed_tasks.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
  	Completed Tasks <span class="badge"><%= @completed_tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @completed_tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
</div>
<% end %>
