<script>

function toggleComplete(id) {

document.getElementById("demo1").innerHTML = document.getElementById(id).src;
document.getElementById("demo2").innerHTML = "<%= image_url("check.png") %>";

	if (document.getElementById(id).src == "<%= image_url("check.png") %>") {
		document.getElementById(id).src = "<%= image_path("uncheck.png") %>";
		toggleAJAX(id);
	} else {
		document.getElementById(id).src = "<%= image_path("check.png") %>";
		toggleAJAX(id);
	}
}

function toggleAJAX(id) {
	$.ajax({
      type: "POST",
      url: "/users/tasks/" +id + "/toggleComplete/"
    });
}

</script>

<p id="demo1"></p>
<p id="demo2"></p>

<%= render 'simple_add' %>

<!--
<%= render partial: 'incomplete_task_table', locals: { task_header: "All", task_table: @tasks } %>
-->

<% if !@overdue_tasks.empty? %>
<%= render partial: 'incomplete_task_table', locals: { task_header: "Overdue", task_table: @overdue_tasks } %>
<% end %>

<% if !@today_tasks.empty? %>
<%= render partial: 'incomplete_task_table', locals: { task_header: "Today", task_table: @today_tasks } %>
<% end %>

<% if !@tomorrow_tasks.empty? %>
<%= render partial: 'incomplete_task_table', locals: { task_header: "Tomorrow", task_table: @tomorrow_tasks } %>
<% end %>

<% if !@this_week_tasks.empty? %>
<%= render partial: 'incomplete_task_table', locals: { task_header: "This Week", task_table: @this_week_tasks } %>
<% end %>

<% if !@future_tasks.empty? %>
<%= render partial: 'incomplete_task_table', locals: { task_header: "Future", task_table: @future_tasks } %>
<% end %>

<% if !@no_duedate_tasks.empty? %>
<%= render partial: 'incomplete_task_table', locals: { task_header: "No DueDate", task_table: @no_duedate_tasks } %>
<% end %>

<% if !@completed_tasks.empty? %>
<%= render partial: 'completed_task_table', locals: { task_header: "Completed", task_table: @completed_tasks } %>
<% end %>
