<%= render 'simpleAdd' %>

<%= render :partial => :taskTable, :task_header => "Gordon", :tasks => @tasks %>

<%= render :partial => :taskTable, :task_header => "Overdue", :tasks => @overdue_task %>

<%= render :partial => :taskTable, :task_header => "Today", :tasks => @today_tasks %>

<%= render :partial => :taskTable, :task_header => "Tomorrow", :tasks => @tomorrow_tasks %>

<%= render :partial => :taskTable, :task_header => "This Week", :tasks => @this_week_tasks %>

<%= render :partial => :taskTable, :task_header => "Future", :tasks => @future_tasks %>

<%= render :partial => :taskTable, :task_header => "No DueDate", :tasks => @no_duedate_tasks %>


<!--          
<div class="panel panel-default">
  <div class="panel-heading">
  	<%= current_user.name %>'s Tasks <span class="badge"><%= current_user.tasks.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% @tasks.each do |task| %>
      <tr>
      	<td width="5%"><input type="checkbox" value="false"></td>
        <td width="75%"><%= task.name %></td>
        <td width="10%"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td width="10%"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>  
  
</div> -->
