<div class="panel panel-default">
  <div class="panel-heading">
    <%= friend_header %> <span class="badge"><%= friend_table.count %></span>
  </div>
  <div class="panel-body"></div>
  
  <table class="table">
    <% friend_table.each do |friend| %>
    <% if friend.user.id == current_user.id %>
    <% display = friend.friend %>
    <% else %>
    <% display = friend.user %>
    <% end %>
    
    <tr id="friend_<%= display.id %>">
      <td width="20%">
      	<%= display.name %>
      </td>
      <td width="50%">
      	<%= display.email %>
      </td>
      
      <% if status == "requested" %>
      <td width="15%">
        <%= link_to friendship_acceptFriend_path(display), method: :post do %>
        <%= friend %>
	<button id="friend_id" class="btn btn-default" name="friend" type="button">
	  Accept
	</button>          	
<%= display %>
	<% end %>
      </td>
      <td width="15%">
        <%= link_to friendship_rejectFriend_path(display), method: :post do %>
	<button id="friend_id" class="btn btn-default" name="friend" type="button">
	  Reject
	</button>          	
	<% end %>
      </td>
      <% elsif status == "pending" %>
      <td width="30%">
        Waiting for your friend to accept
      </td>
      <% else %>
      <td width="15%">
      </td>
      <td width="15%">
        <%= link_to friend, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= friend %>
	<button id="friend_id" class="btn btn-default" name="friend" type="button">
	  Remove
	</button>          	
<%= display %>
	<% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>  
  
</div>