<div class="panel panel-default">
  <div class="panel-heading">
  	<%= friend_header %><span class="badge"><%= friend_table.count %></span>
  </div>
  <div class="panel-body"></div>

  <table class="table">
	<% friend_table.each do |friend| %>
      <tr id="friend_<%= friend.id %>" class="incomplete">
      	<td width="20%">
      		<%= friend.friend.name %>
      	</td>
        <td width="40%">
      		<%= friend.friend.email %>
    	</td>
        <td width="20%">
        </td>
        <td width="20%">
        </td>
      </tr>
    <% end %>
  </table>  
  
</div>
