<div class="panel panel-default">
  <div class="panel-heading">
  	<%= friend_header %> <span class="badge"><%= friend_table.count %></span>
  </div>
  <div class="panel-body"></div>
  
  <%= current_user.id %>

  <table class="table">
	<% friend_table.each do |friend| %>
      <tr id="friend_<%= friend.id %>">
      	<td width="20%">
      		<%= friend.friend.name %>
      	</td>
        <td width="40%">
      		<%= friend.friend.email %>
    	</td>
    	<% if status = "requested" %>
          <td width="20%">
            Accept
          </td>
          <td width="20%">
          	Decline
          </td>
        <% else %>
          <td width="20%">
          </td>
          <td width="20%">
          	Delete
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>  
  
</div>
