<h2>Friends</h2>

  <%= form_tag("/users/friendships", method: "post", id: "new_friend") do %>
    <%= label_tag(:email, "Friend's Email") %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Add Friend"), class: "btn btn-default"%>
	  <% end %>

<ul>
  <% for friendship in @friends %>
    <li>
      <%=h friendship.friend.email %>
    </li>
  <% end %>
</ul>


<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.email %></li>
  <% end %>
</ul>