<h2>Friends</h2>

  <%= form_tag("/users/friendships", method: "post", id: "new_friend", class: "new_friend") do %>
    <%= label_tag(:email, "Friend's Email") %>
    <%= text_field_tag :email, "", :autofocus => true %>
    <%= submit_tag "Add Friend", class: "btn btn-default"%>
	  <% end %>

<h2>Your Request</h2>
<ul>
  <% for friendship in @friendships_request %>
    <li>
      <%=h friendship.friend.email %>
    </li>
  <% end %>
</ul>

<h2>Friend's Request</h2>
<ul>
  <% for friendship in @inverse_friendships_request %>
    <li>
      <%=h friendship.friend.email %>
    </li>
  <% end %>
</ul>

<h2>Your Friends</h2>
<ul>
  <% for user in @friendships %>
    <li><%=h user.friend.email %></li>
  <% end %>
</ul>


<h2>Friended by Users</h2>
<ul>
  <% for user in @inverse_friendships %>
    <li><%=h user.friend.email %></li>
  <% end %>
</ul>


<h2>All Friends</h2>
<ul>
  <% for user in @all_friends %>
    <li><%=h user.friend.email %></li>
  <% end %>
</ul>


