<h2>Friends</h2>

<%= render 'simple_add', :style => "display:inline" %>

<div id="list_tables">
<% if !@friendships_request.empty? %>
<%= render partial: 'friend_table', locals: { friend_header: "Your Request", friend_table: @friendships_request } %>
<% end %>

<% if !@inverse_friendships_request.empty? %>
<%= render partial: 'friend_table', locals: { friend_header: "Friend's Request", friend_table: @inverse_friendships_request } %>
<% end %>

<% if !@friendships.empty? %>
<%= render partial: 'friend_table', locals: { friend_header: "Your Friends", friend_table: @friendships } %>
<% end %>

<% if !@inverse_friendships.empty? %>
<%= render partial: 'friend_table', locals: { friend_header: "Friended by Users", friend_table: @inverse_friendships } %>
<% end %>

<% if !@all_friends.empty? %>
<%= render partial: 'friend_table', locals: { friend_header: "All Friends", friend_table: @all_friends } %>
<% end %>
</div>

<h2>Your Request</h2>
<ul>
  <% for friendship in @friendships_request %>
    <li>
      <%=h friendship.friend.email %>
    </li>
  <% end %>
</ul>

<h2>Friend's Request</h2>
<ul>
  <% for friendship in @inverse_friendships_request %>
    <li>
      <%=h friendship.friend.email %>
    </li>
  <% end %>
</ul>

<h2>Your Friends</h2>
<ul>
  <% for user in @friendships %>
    <li><%=h user.friend.email %></li>
  <% end %>
</ul>


<h2>Friended by Users</h2>
<ul>
  <% for user in @inverse_friendships %>
    <li><%=h user.friend.email %></li>
  <% end %>
</ul>


<h2>All Friends</h2>
<ul>
  <% for user in @all_friends %>
    <li><%=h user.friend.email %></li>
  <% end %>
</ul>


