<h2>Friends</h2>

  <%= form_tag("/users/friendships", method: "post") do %>
    <%= label_tag(:email, "Friend's Email:") %>
    <%= text_field_tag(:email) %>
    <%= submit_tag("Add Friend")%>
	  <% end %>

<ul>
  <% for friendship in @friends %>
    <li>
      <%=h friendship.friend.email %>
    </li>
  <% end %>
</ul>

