<!DOCTYPE html>
<html>
<head>
  <title>HaveTodo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="well" id="sidebar"> 
    <ul>
      <li>
      	<%= link_to tasks_path do %>
      	  All Tasks <span class="badge"><%= current_user.tasks.count %></span>
      	<% end %>
      </li>
    </ul>
    
    <hr>

    <ul>
      <li>Task Lists</li>
	<% if !@tasklists.empty? %>
      <ul>
      	<% @tasklists.each do |tl| %>
      	  <li>
      	  	<%= link_to tl.name, tl %>  
      	  	<%= link_to tl, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="icon-trash"></span>
            <% end %>
      	  </li>
      	<% end %>
      </ul>
    <% end %>
      <li><a href="#" data-toggle="modal" data-target="#CreateTasklistModal">Create Task List</a></li>
    </ul>
  </div>

  <div id="taskarea">
	<div class="row">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="CreateTasklistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create TaskList</h4>
      </div>
      <div class="modal-body">
      	<%= form_for (Tasklist.new) do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, :autofocus => true %>
      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Create', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$('#CreateTasklistModal').on('shown.bs.modal', function () {
    $(this).find("[autofocus]:first").focus();
})
</script>

</body>
</html>
